@font-face {
	font-family: "Farewell";
	src: url('../fonts/FarewellToKings.ttf');
}

@font-face {
	font-family: "Feedback";
	src: url('../fonts/FeedBack.ttf');
}
body {
	background-color: #000;
	color: #fff;
	font-family: "Feedback";
	font-size: 15pt;
	padding: 2cm .5cm 1cm .5cm;
}

h1.rush {
	background-color: #00ffff;
	border-radius: 15px;
	color: #f00;
	cursor: pointer;
	font-family: "Farewell";
	font-size: 5em;
	line-height: 0;
    padding: .5em;
	text-align: center;
	text-shadow: 2.5px 2.5px #8b0000;
}

h1.dave-change {
	background-color: #ff00ff;
	border-radius: 30px;
	color: #00f;
	cursor: pointer;
	font-family: "Farewell";
	font-size: 5em;
	line-height: 0;
    padding: .5em;
	text-align: center;
	text-shadow: 2.5px 2.5px #ADFF2F;
}

p {
	pointer-events: none;
	text-align: justify;
}

div#square {
	background-color: #d3d3d3;
	border-bottom: 3px dotted #45f;
	border-left: 6px groove #006400;
	border-radius: 4% 25% 34% 15%;
	border-right: 7px solid #a0b1c2;
	border-top: 4px dashed #f30;
	display: table;
	height: 15%;
	margin: 75px auto;
	padding: 10px;
	position: relative;
	transition: all 1s ease-in-out;
	width: 65%;
}

div#square:hover {
	background-color: #b8860b;
	border-top: 4px solid #f3068f;
	border-right: 7px groove #00EA73;
	border-bottom: 3px dashed #800080;
	border-left: 15px dotted #ff6347;
	border-radius: 24pt 66px 10% 2em;
	padding: 5px;
	height: 23%;
	width: 34%;
}

p#song {
	display: table-cell;
	color: #000;
	text-align: center;
	vertical-align: middle;
}

span#red {
	color: #f00;
	font-size: 2em;
	text-shadow: 0px 0px 5px #008000;
}

section {
	display: inline-block;
	margin-top: 15px;
	position: relative;
}

section img {
	height: auto;
	margin-left: 0;
	transition: all .5s ease-in;
	width: 450px;
}

section img:hover {
	content: url('../images/elp.jpg');
	margin-left: 500px;
}